* {
      margin: 0;
      
      font-family:monospace;
}

body {
      background-color: rgb(0, 0, 0);
}

nav {
      background-color: black;
      height: 25px;
      border: 10px;
      border-color: ghostwhite;
}

nav button {
      display: inline-block;
      justify-content: center;
      width: 19.3vw;
      border: 0px;
      padding: 0px;
      height: fit-content;
      background-color: black;
      color: whitesmoke;
      margin-top: 5px;
      font-size: larger;
}

nav button:hover {
      background-color: gray
}

